.transparent-modal-how {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  background-color: rgba(15, 14, 14, 0.6);
  z-index: 10000;
  animation: 0.3s show ease;
}

.how-work-modal {
  position: absolute;
  z-index: -100;
  top: 100px;
  left: 50%;
  padding-right: 10px;
  transform: translateX(-50%);
  max-width: 650px;
  width: calc(100vw - 40px);
  height: 600px;
  background: var(--main-color);
  border-radius: var(--border-radius);
  opacity: 0;
  transition: .3s;
}

@media (max-width: 560px){
  .how-work-modal {
    height: 450px;
  }
}

.how-work-wrapper{
  width: 100%;
  height: 490px;
}

@media (max-width: 560px){
  .how-work-wrapper {
    height: 350px;
  }
}

.modal-howTo-text{
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
  overflow-y: scroll;
  padding: 0 20px;
}

.modal-howTo-text > p {
  padding-top: 10px;
  font-size: 18px;
  text-align: start;
  color: var(--main-font-color);
}

.animation > img {
  width: 100%;
  border-radius: var(--border-radius);
  box-shadow: 0 0 8px var(--main-font-color);
}

.subtitle {
  font-size: 24px;
  margin: 10px 0;
  font-weight: 500;
  text-align: center;
  color: var(--main-font-color);
}

.how-work-modal.active{
  opacity: 1;
  z-index: 11000;
}

.how-work-modal.active body{
  background: #33333369;
}

.modal-header-how{
  color: var(--main-font-color);
  text-align: center;
  margin: 40px 0 20px 0;
  font-size: 34px;
}

@media (max-width: 1200px){
  .modal-header-how{
    margin-top: 50px;
    font-size: 30px;
  }
  .subtitle{
    font-size: 22px;
  }
  .modal-howTo-text > p {
    font-size: 17px;
  }
}
@media (max-width: 810px){
  .modal-header-how{
    margin-top: 40px;
    font-size: 26px;
  }
  .subtitle{
    font-size: 20px;
  }
  .modal-howTo-text > p {
    font-size: 16px;
  }
}
@media (max-width: 560px){
  .modal-header-how{
    margin-top: 30px;
    font-size: 22px;
  }
  .subtitle{
    font-size: 18px;
  }
  .modal-howTo-text > p {
    font-size: 14px;
  }
  .modal-howTo-text{
    padding: 0 10px;
  }
}