.footer-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin: 20px 0;
}

@media (max-width: 440px){
  .footer-links {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 20px 0;
  }
}

@media (max-width: 360px){
  .footer-links {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px 0;
  }
}

.footer_icon,
.footer_icon_link {
  color: var(--main-font-color);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
}

.footer-icon-link{
  padding: 20px;
}

@media (max-width: 810px){
  .footer-icon-link{
    padding: 17px;
  }
}

@media (max-width: 560px){
  .footer-icon-link{
    padding: 15px;
  }
}

.footer-icon-link{
  color: var(--main-font-color);
}

.icon-school{
  cursor: pointer;
  background: url(../assets/images/rss.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 38px;
  height: 50px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  transition: all .3s ease;
}
.icon-school:hover{
  background: url(../assets/images/rss-hover.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 38px;
  height: 50px;
}

.icon-github{
  cursor: pointer;
  background: url(../assets/images/git.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 38px;
  height: 50px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  transition: all .3s ease;
}
.icon-github:hover{
  background: url(../assets/images/git-hover.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 38px;
  height: 50px;
}

.icon-youtube{
  cursor: pointer;
  background: url(../assets/images/youtube.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  transition: all .3s ease;
}
.icon-youtube:hover{
  background: url(../assets/images/youtube-hover.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
}

@media (max-width: 810px){
  .icon-school,
  .icon-github{
    width: 33px;
    height: 35px;
  }
  .icon-school:hover,
  .icon-github:hover{
    width: 36px;
    height: 38px;
  }
}

@media (max-width: 560px){
  .icon-school,
  .icon-github{
    width: 28px;
    height: 30px;
  }
  .icon-school:hover,
  .icon-github:hover{
    width: 31px;
    height: 33px;
  }
}


@media (max-width: 810px){
  .icon-youtube {
    width: 35px;
    height: 35px;
  }
  .icon-youtube:hover {
    width: 38px;
    height: 38px;
  }
}

@media (max-width: 560px){
  .icon-youtube {
    width: 30px;
    height: 30px;
  }
  .icon-youtube:hover {
    width: 33px;
    height: 33px;
  }
}

.icon-github:hover,
.icon-youtube:hover,
.icon-school:hover {
  transform: scale(1.1);
}

.icon-school:active,
.icon-github:active,
.icon-youtube:active {
  transform: scale(1);
}

.copyright {
  color: var(--copyright-fonts-color);
  text-align: center;
  font-size: 16px;
  padding-bottom: 10px;
}

.copyright-link {
  font-size: 18px;
  color: var(--footer-fonts);
  transition: 0.2s;
}

.copyright-link:hover {
  color: var(--hover-header);
}