.header{
  background: var(--nav-color);
}

.logo{
  font-weight: 700;
  font-size: 32px;
  color: var(--main-font-color);
}

.nav-bar{
  height: 80px;
  min-height: 100%;
  max-width: 1760px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-links{
  display: flex;
  align-items: center;
  gap: 30px;
}

.nav-links li a{
  position: relative;
  font-size: 18px;
  font-weight: 400;
  color: var(--main-font-color);
  text-decoration: none;
}

.nav-links li a::before{
  content: '';
  position: absolute;
  left: 50%;
  bottom: -3px;
  transform: translateX(-50%);
  height: 2px;
  width: 100%;
  background-color: var(--hover-footer);
  opacity: 0;
  transition: all 0.3s ease;
}

.nav-links li:hover a::before{
  opacity: 1;
}

.nav-bar .darkLight-searchBox{
  display: flex;
  align-items: center;
}

.darkLight-searchBox .dark-light,
.darkLight-searchBox .searchToggle{
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
}

.dark-light i,
.searchToggle i{
  position: absolute;
  color: var(--main-font-color);
  font-size: 22px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.sun, .moon{
  padding: 10px;
}

.dark-light:hover i.moon{
  color: var(--moon-hover);
}

.dark-light:hover i.sun{
  color: var(--sun-hover);
}

.dark-light i.sun{
  opacity: 0;
  cursor: pointer;
}

.dark-light.active i.sun{
  opacity: 1;
  cursor: pointer;
}

.dark-light.active i.moon{
  opacity: 0;
  cursor: pointer;
}
