/* 
colors/font-size/margins/paddings/animation - 
all everything that is used more than once in the project 
*/

:root{
  --main-color: #fafafa;
  --main-font-color: #444;
  --nav-color: #e0e0e0;
  --main-red: #ff4343bf;
  --hover-footer: #adadad;
  --border-radius: 8px;

  /* Table roots */
  --table-border: #9b9b9ba8;
  --current-day: #6e8dff;
  --current-day-circle: #3232321c;
  --habit-1: #a3a8e18c;
  --habit-2: #a3e1b0d1;
  --habit-3: #e0e1a3c4;
  --habit-4: #e1a3dfbd;
  --habit-5: #a3dfe1cc;
  --habit-6: #dfdfdfe0; 
  --habit-7: #e1a3a3ad;
  --habit-achieved: #4eb53edb;
  --habit-hover: #fafafa;
  --habit-shadow: #35363A;
  /* Theme dark-mode */
}

body.dark{
  --main-color: #35363A;
  --nav-color: #202124;
  --main-font-color: #f3f3f3;
  --main-red: #ff8a8abf;
  transition: all 0.4s ease;
  --habit-shadow: #f3f3f3;
  --table-border: #ffffff70;
}