@import url(../../styles/main.css);

.transparent-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(15, 14, 14, 0.6);
  z-index: 400;
  animation: 0.3s show ease;
}

.modal-add-habit {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 300px;
  z-index: 500;
  background-color: white;
  animation: 0.3s show ease;
  gap: 20px;
  flex-direction: column;
  padding: 20px;
}

@keyframes show {
  from { opacity: 0 }
  to { opacity: 1 }
}

.btn-modal-close {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
}

.btn-modal-save,
.btn-new-habit {
  min-width: 70px;
  height: 40px;
  background: #333;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
}

.btn-new-habit {
  margin-top: 30px;
  margin-left: 30px;
}

.modal-header {
  font-size: 2rem;
}

#modal-name-input,
#modal-goal-input {
  height: 30px;
}

tr[class^="row-"] {
  height: 45px;
}

tr[class^="row-"] .td-colored {
  height: 45px;
  color: #fff;
}

.td-habit {
  color: #444;
  font-weight: 700;
}

tr[class^="row-"]:nth-child(7n+1) .td-colored,
tr[class^="row-"]:nth-child(7n+1) .td-habit { 
  background: #e1a3a3ad;
}
tr[class^="row-"]:nth-child(7n+2) .td-colored,
tr[class^="row-"]:nth-child(7n+2) .td-habit {
  background: #a3a8e18c;
}
tr[class^="row-"]:nth-child(7n+3) .td-colored,
tr[class^="row-"]:nth-child(7n+3) .td-habit {
  background: #a3e1b0d1;
}
tr[class^="row-"]:nth-child(7n+4) .td-colored,
tr[class^="row-"]:nth-child(7n+4) .td-habit {
  background: #e0e1a3c4;
}
tr[class^="row-"]:nth-child(7n+5) .td-colored,
tr[class^="row-"]:nth-child(7n+5) .td-habit {
  background: #e1a3dfbd;
}
tr[class^="row-"]:nth-child(7n+6) .td-colored,
tr[class^="row-"]:nth-child(7n+6) .td-habit {
  background: #a3dfe1cc;
}
tr[class^="row-"]:nth-child(7n+7) .td-colored,
tr[class^="row-"]:nth-child(7n+7) .td-habit {
  background: #dfdfdfe0; 
}

td[class^="td-"] {
  border-bottom: 1px solid #9b9b9ba8; /* design process */
  border-right: 1px solid #9b9b9ba8; /* design process */
  cursor: pointer;
  text-align: center;
}

td[class^="td-"]:nth-child(1) {
  border-left: 1px solid #9b9b9ba8; /* design process */
  border-right: none;
}

td[class^="td-"]:nth-child(2) {
  border-left: 1px solid #9b9b9ba8; /* design process */
}

.td-colored {
  background-color: #fdf2d0;
}

.td-complete {
  background-color: rgb(148, 184, 86);
}

.modal-input-error {
  border: 2px solid red;
}