@import url(../../styles/main.css);

.transparent-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(15, 14, 14, 0.6);
  z-index: 10000;
  animation: 0.3s show ease;
}

.modal-add-habit {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  min-height: 350px;
  z-index: 11000;
  background-color: var(--main-color);
  animation: 0.3s show ease;
  gap: 30px;
  flex-direction: column;
  padding: 20px;
  border-radius: var(--border-radius);
}

@media (max-width: 1200px){
  .modal-add-habit {
    width: 400px;
    min-height: auto;
  }
  .modal-note-input{
    font-size: 16px;
  }
}

@media (max-width: 810px){
  .modal-add-habit {
    width: 350px;
    min-height: auto;
  }
}

@media (max-width: 560px){
  .modal-add-habit {
    width: 300px;
    min-height: auto;
  }
  .modal-note-input{
    font-size: 14px;
  }
}

@keyframes show {
  from { opacity: 0 }
  to { opacity: 1 }
}

.btn-modal-close {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: var(--main-font-color);
  transition: .2s;
}

.btn-modal-close:hover {
  color: var(--delete-but-hover);
}

.btn-modal-save,
.btn-edit-save,
.btn-edit-del,
.btn-new-habit,
.btn-new-note {
  width: 100px;
  height: 40px;
  background: var(--main-font-color);
  color: var(--main-color);
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: var(--border-radius);
  transition: .2s;
}

.btn-modal-save{
  width: 100%;
}

.btn-new-habit,
.btn-new-note {
  margin: 30px 0;
}

@media (max-width: 1200px){
  .btn-new-habit,
  .btn-new-note {
    margin: 30px 0;
    font-size: 14px;
  }
}

@media (max-width: 810px){
  .btn-new-habit,
  .btn-new-note {
    width: 80px;
    height: 30px;
    padding: 0;
  }
}


.btn-edit-del {
  background: var(--main-red);
  color: var(--main-font-color);
}

.btn-new-note {
  position: absolute;
  right: 20px;
}

@media (max-width: 1200px){
  .btn-new-note {
    margin-top: 30px;
    right: 0;
  }
}

.btn-edit-del:hover{
  background: var(--delete-but-hover);
}

.btn-new-habit:hover,
.btn-new-note:hover {
  background: var(--hover-header);
}

.btn-modal-note-save:hover,
.btn-modal-save:hover,
.btn-edit-save:hover{
  background: var(--habit-achieved);
}

.modal-header {
  font-size: 2rem;
}

.modal-name,
.modal-goal,
.modal-header{
  color: var(--main-font-color);
}

.modal-name-input,
.modal-goal-input {
  font-size: 18px;
  height: 40px;
  border-radius: var(--border-radius);
  border: 1px solid var(--main-font-color);
  padding-left: 10px;
}

@media (max-width: 1200px){
  .modal-name-input, 
  .modal-goal-input{
    font-size: 17px;
  }
}
@media (max-width: 810px){
  .modal-name-input, 
  .modal-goal-input{
    font-size: 16px;
  }
}
@media (max-width: 560px){
  .modal-name-input, 
  .modal-goal-input{
    font-size: 14px;
  }
}

tr[class^="row-"] {
  height: 45px;
}

@media (max-width: 1600px){
  tr[class^="row-"] {
    height: 40px;
  }
}
@media (max-width: 1380px){
  tr[class^="row-"] {
    height: 37px;
  }
}

tr[class^="row-"]:last-child .td-habit {
  border-bottom-left-radius: var(--border-radius);
}
tr[class^="row-"]:last-child .td-achieved {
  border-bottom-right-radius: var(--border-radius);
}

tr[class^="row-"] .td-colored {
  color: var(--main-color);
}

.td-habit {
  color: var(--main-font-color);
  font-weight: 700;
  transition: .3s;
  width: 140px;
  padding: 0 5px;
}

@media (max-width: 1600px){
  .td-habit {
    font-size: 14px;
  }
}

.td-goal,
.td-achieved{
  color: var(--main-font-color);
}

tr[class^="row-"]:nth-child(11n+1) .td-colored,
tr[class^="row-"]:nth-child(11n+1) .td-habit { 
  background: var(--habit-7);
}
tr[class^="row-"]:nth-child(11n+2) .td-colored,
tr[class^="row-"]:nth-child(11n+2) .td-habit {
  background: var(--habit-1);
}
tr[class^="row-"]:nth-child(11n+3) .td-colored,
tr[class^="row-"]:nth-child(11n+3) .td-habit {
  background: var(--habit-2);
}
tr[class^="row-"]:nth-child(11n+4) .td-colored,
tr[class^="row-"]:nth-child(11n+4) .td-habit {
  background: var(--habit-3);
}
tr[class^="row-"]:nth-child(11n+5) .td-colored,
tr[class^="row-"]:nth-child(11n+5) .td-habit {
  background: var(--habit-4);
}
tr[class^="row-"]:nth-child(11n+6) .td-colored,
tr[class^="row-"]:nth-child(11n+6) .td-habit {
  background: var(--habit-5);
}
tr[class^="row-"]:nth-child(11n+7) .td-colored,
tr[class^="row-"]:nth-child(11n+7) .td-habit {
  background: var(--habit-6); 
}
tr[class^="row-"]:nth-child(11n+8) .td-colored,
tr[class^="row-"]:nth-child(11n+8) .td-habit {
  background: var(--habit-8); 
}
tr[class^="row-"]:nth-child(11n+9) .td-colored,
tr[class^="row-"]:nth-child(11n+9) .td-habit {
  background: var(--habit-9); 
}
tr[class^="row-"]:nth-child(11n+10) .td-colored,
tr[class^="row-"]:nth-child(11n+10) .td-habit {
  background: var(--habit-10); 
}
tr[class^="row-"]:nth-child(11n+11) .td-colored,
tr[class^="row-"]:nth-child(11n+11) .td-habit {
  background: var(--habit-11); 
}

td[class^="td-"] {
  border-bottom: 1px solid var(--table-border); /* design process */
  border-right: 1px solid var(--table-border); /* design process */
  cursor: pointer;
  text-align: center;
}

td[class^="td-"]:nth-child(1) {
  border-left: 1px solid var(--table-border); /* design process */
  border-right: none;
}

td[class^="td-"]:nth-child(2) {
  border-left: 1px solid var(--table-border); /* design process */
}

/* hovers table */
td[class^="td-"]:hover {
  box-shadow: 0 0 10px var(--habit-shadow);
}

td.td-goal:hover {
  box-shadow: none;
}

td.td-achieved:hover {
  box-shadow: none;
}

tr[class^="row-"]:hover .td-habit{
  background: var(--main-color);
  box-shadow: 0 0 12px var(--habit-shadow);
}

.td-complete {
  background-color: var(--habit-achieved);
}

.modal-input-error {
  border: 2px solid var(--main-red);
}