.sticky-note {
  position: absolute;
  height: 210px;
  width: 200px;
  box-shadow: 0 0 5px var(--habit-shadow);
  color: var(--main-font-color);
  user-select: none;
  transition: box-shadow .2s ease;
  overflow: hidden;
}

.sticky-note:hover {
  box-shadow: 0 0 10px var(--habit-shadow);
}

.modal-add-note {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  min-height: 350px;
  z-index: 11000;
  background-color: var(--main-color);
  animation: 0.3s show ease;
  gap: 30px;
  flex-direction: column;
  padding: 20px;
  border-radius: var(--border-radius);
}

.modal-note-input {
  font-size: 18px;
  height: 180px;
  border-radius: var(--border-radius);
  border: 1px solid var(--main-font-color);
  padding-left: 10px;
  margin-top: 20px;
  width: 100%;
  resize: none;
  font-family: 'Roboto', sans-serif;
}

.btn-modal-note-save {
  width: 100%;
  height: 40px;
  background: var(--main-font-color);
  color: var(--main-color);
  font-size: 1rem;
  cursor: pointer;
  border: none;
  border-radius: var(--border-radius);
  margin-top: 20px;
  transition: .2s;
}

.note-header{
  height: 40px;
  background-color: rgba(0,0,0,0.2);
  font-family: 'Julee', cursive;
  cursor: grab;
}

.note-header:active{
  cursor: grabbing;
}

.note-header > span {
  position: absolute;
  top: 12px;
  left: 10px;
  font-weight: bold;
  font-size: 1.1rem;
  color: var(--sticker-fonts);
}

.note-body {
  padding: 10px;
  color: var(--sticker-fonts);
  font-family: 'Julee', cursive;
  font-size: 20px;
  word-break: break-all;
  
}

.btn-note-close,
.btn-note-edit {
  width: 20px;
  height: 20px;
  position: absolute;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--sticker-fonts);
  transition: .2s;
}

.btn-note-edit:hover {
  transform: rotate(135deg) scale(1.1);
  color: var(--sticker-hover-fonts);
}

.btn-note-close:hover {
  transform: scale(1.1);
  color: var(--delete-but-hover);
}

.btn-note-close {
  top: 8px;
  right: 7px;
}

.btn-note-edit {
  top: 10px;
  right: 25px;
  vertical-align: center;
  transform: rotate(135deg);
}